:root {
    --color-bg-primary: #ffffff;
    --color-fg-primary: #171717;
    --color-fg-secondary: #ffffff;
    --color-bg-secondary:#171717;
    --color-accent-primary: aqua;
    --color-accent-secondary: aqua;
}